body {
    background-color: #f00000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pageTitle {
    color: rgb(244, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}

#username {
    color: rgb(248, 0, 0);
    text-align: center;
    margin-top: 50px;
}