<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1 class="headerTitle">Create Post Page</h1>
    </header>
    <div class="headerConexion">
        {{if .User}}
            <a href="/profile">{{.User.GetUsername}}</a>
            <a href="/logout">Déconnexion</a>
        {{else}}
            <a href="/login">Connexion</a>
            <a href="/register">Inscription</a>
        {{end}}
    </div>
    <main>
        {{if .User}}
        <form action="/create-post" method="post">
            <input type="text" name="title" placeholder="Titre du post">
            <input type="text" name="content" placeholder="Contenu du post">
            <input type="submit" value="Créer">
        </form>
        {{else}}
            <p class="notConnected">Vous devez vous connecter pour créer une catégorie</p>
            <a href="/login">Connexion</a>
            <a href="/register">Inscription</a>
        {{end}}
    </main>
    <footer>
        <p class="footerText">© 2024 Notre Site. Tous droits réservés.</p>
    </footer>
</body>
</html>