<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1 class="headerTitle">Create Post Page</h1>
    </header>
    <div class="headerConexion">
        {{if .}}
            <a href="/profile">{{.GetUsername}}</a>
        {{else}}
            <a href="/login">Connexion</a>
            <a href="/register">Inscription</a>
        {{end}}
    </div>
    <main>
        
    </main>
    <footer>
        <p class="footerText">© 2024 Notre Site. Tous droits réservés.</p>
    </footer>
</body>
</html>