<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login Page</title>
    <style>
        .headerButton {
            padding: 5px 10px; /* Réduire la taille du bouton */
            background-color: #007BFF;
            color: white;
            border: none;
            cursor: pointer;
        }
        .dropdownMenu {
            display: none;
            position: absolute;
            right: 0;
            top: 40px; /* Ajuster la position pour être sous le bouton */
            background-color: white;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdownMenu a {
            display: block;
            padding: 10px;
            color: #333;
            text-decoration: none;
        }
        .dropdownMenu a:hover {
            background-color: #ddd;
        }
        .headerContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
    <header class="headerContainer">
        <h1 class="headerTitle"> Login Page</h1>
        <div>
            <button class="headerButton" onclick="toggleDropdown()">Menu</button>
            <div id="dropdownMenu" class="dropdownMenu">
                <a href="/login">Connexion</a>
                <a href="/register">Inscription</a>
            </div>
        </div>
    </header>
    <main>
        <form action="/login" method="post">
            <div>
                <label for="loginUsername">Nom d'utilisateur ou adresse Email:</label>
                <input type="text" id="loginUsername" name="username" required>
                <label for="loginPassword">Mot de passe:</label>
                <input type="password" id="loginPassword" name="password" required>
                <button id="loginButton" type="submit">Se connecter</button>
            </div>
        </form>
    </main>
    <footer>
        <p class="footerText">© 2023 Notre Site. Tous droits réservés.</p>
    </footer>
</body>
</html>
