<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login Page</title>
</head>
<body>
    <header class="headerContainer">
        <h1 class="headerTitle">Login Page</h1>
        <div class="headerConexion">
            {{if .}}
                <a href="/profile">{{.GetUsername}}</a>
            {{else}}
                <a href="/login">Connexion</a>
                <a href="/register">Inscription</a>
            {{end}}
        </div>
    </header>
    <main>
        <form action="/login" method="post">
            <div>
                <label for="loginUsername">Nom d'utilisateur ou adresse Email:</label>
                <input type="text" id="loginUsername" name="loginUsername" required>
                <label for="loginPassword">Mot de passe:</label>
                <input type="password" id="loginPassword" name="loginPassword" required>
                <button id="loginButton" type="submit">Se connecter</button>
            </div>
        </form>
    </main>
    <footer>
        <p class="footerText">© 2023 Notre Site. Tous droits réservés.</p>
    </footer>
</body>
</html>
