<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1 class="headerTitle">Posts Page</h1>
        <div class="headerHome">
            <a class="headerHome" href="/">Home</a>
            <a class="headerHome" href="/categories">Categories</a>
        </div>
        <div class="headerConexion">
            {{if .User}}
                <a href="/profile">{{.User.GetUsername}}</a>
                <a href="/logout">Déconnexion</a>
            {{else}}
                <a href="/login">Connexion</a>
                <a href="/register">Inscription</a>
            {{end}}
        </div>
    </header>
    
    <main>
        <div class="post">
            <h2 class="postTitle">{{.Post.GetPostTitle}}</h2>
            <p class="postContent">{{.Post.GetPostContent}}</p>    
        </div>
    </main>
    <footer>
        <p class="footerText">© 2024 Notre Site. Tous droits réservés.</p>
    </footer>
</body>
</html>